// _mixins.scss
@import 'variables';


$breakpoints: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
);

// Mixin for breakpoints
@mixin respond-to($breakpoint) {

    @if $breakpoint == xs {
      @media (max-width: #{$breakpoint-xs}) { @content; }
    }
    @else if $breakpoint == sm {
      @media (max-width: #{$breakpoint-sm}) { @content; }
    }
    @else if $breakpoint == md {
      @media (max-width: #{$breakpoint-md}) { @content; }
    }
    @else if $breakpoint == lg {
      @media (max-width: #{$breakpoint-lg}) { @content; }
    }
  }
